.bannerts {
  position: relative;
  /* width: 100%; */
  /* display:flex; */
  /* background-color:brown; */
  /* justify-items: center; */
}

.component-backgroundts {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.background-imagets {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}


/* .background-videots {
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */

.banner-headerts {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}

.banner-contentts {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 50%;
  /* left: 0;
    right: 0;*/
  transform: translateY(-50%);
  /* background-color:brown; */
  justify-self: center;
  text-align: center;
  margin-left: auto;
}

@media (max-width: 786px) {
  .banner-contentts {
    /* margin-left: 30px;  */
  }
}

.banner-titlets {
  font-size: 70px;
  margin-top: 0 !important;
  transform: translateY(-20%);
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* margin-bottom: 10px; */
}

@media (max-width: 786px) {
  .banner-titlets {
    font-size: 40px;
  }
}

.banner-subtitlets {
  font-size: 30px;
  margin-bottom: 0;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 786px) {
  .banner-subtitlets {
    font-size: 18px;
  }
}

.booknow-button-banner-toscana {
  background-color: #fbc02d;
  color: white;
  border-radius: 5%;
  border-color: transparent;
  /* margin-top: 2%; */
  padding: 9px;
  width: 20%;
  font-size: 16px;
  font-weight: 500px;
  /* margin:auto; */
}

@media(max-width:700px) {
  .booknow-button-banner-toscana {
    width: 30%;
    font-size: 14px;
  }
}

@media(max-width:400px) {
  .booknow-button-banner-toscana {
    width: 40%;
    font-size: 12px;
  }
}