.banner {
    position : relative;
    background-image: url('/public/travel.jpeg');
    background-size: cover;
    background-position: center;
    height: 500px; /* Adjust the height as needed */
    
  }
  .banner-header{
    position: absolute;
    top:0;
    left:0;
    right:0;
  }
  .banner-content {
    position: absolute;
    text-align: left;
    margin-left: 100px; 
    left: 20px;
    bottom: 10rem;
    /* Adjust the margin as needed */
  }

  @media (max-width: 786px) {
    .banner-content {
      margin-left: 30px; 
    }
  } 
  
  
  .banner-title {
    color: #ffffff;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  @media (max-width: 786px) {
    .banner-title {
      font-size: 50px; 
    }
  } 
  

  
  .banner-subtitle {
    color: #ffffff;
    font-size: 22px;
    opacity: 0.8;
  }

  @media (max-width: 786px) {
    .banner-subtitle {
      font-size: 18px; 
    }
  } 


  

  
  