/* .call-now-btn {
    position: fixed;
    bottom: 20px;
    right: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: rgba(6, 93, 147, 0.949);
    border-radius: 50%;
    color: white;
    font-size: 28px;
    text-decoration: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
  }
  
  .call-now-btn:hover {
    background-color: darkblue;
  }
  
  .phone-icon {
    margin-right: 5px;
  }
   */
/* Add more styles as desired */

.floating-buttons {
  z-index: 10;
  /* position:relative; */
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.call-button,
.whatsapp-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(6, 93, 147, 0.949);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  transition: background-color 0.3s;
}

.call-button:hover,
.whatsapp-button:hover {
  background-color: #0056b3;
}


@media (max-width: 1000px) and (min-width: 400px) {

  .call-button,
  .whatsapp-button {

    width: 50px !important;
    height: 50px !important;
  }

  .fa-solid.fa-phone {
    font-size: 20px;
  }

  .fa-brands.fa-whatsapp {

    font-size: 25px;
  }

  .floating-buttons {

    right: 10px;
    bottom: 10px;
  }
}

@media (max-width: 400px) {

  .call-button,
  .whatsapp-button {

    width: 40px !important;
    height: 40px !important;
  }

  .fa-solid.fa-phone {
    font-size: 16px;
  }

  .fa-brands.fa-whatsapp {

    font-size: 25px;
  }

  .floating-buttons {

    right: 10px;
    bottom: 10px;
  }
}