.left-textser
 {
    padding-right: 20px;
    /* padding-top: 40px; */
    padding-left: 20px;
    /* padding-bottom: 40px; */
    background-color: #fff;
    /* margin-left: 00px; */
    /* align-self: center; */
    /* justify-self: center; */
    align-self: center;
    /* background-color: orange; */
    /* align-self: flex-end; */
}

.right-textser
 {

    padding-left: 20px;
    /* padding-top: 40px; */
    padding-right: 20px;
    /* padding-bottom: 40px; */
    background-color: #fff;
    /* margin-right: 20px; */
    align-self: center;
}

.image-containerser
 {

    /* margin-top: 50px; */
    width: 100%;
    height:33vw;
    overflow: hidden;
    /* object-fit: cover; */
    /* background-color: purple; */
    /* background-color: #FFEF00; */
}

.zoomser
 {
    transition: transform 0.3s;
}

@media (min-width: 576px) {

    .zoom:hoverser
     {
        transform: scale(1.2);
    }
}
.rowser
{
    margin-top: 65px !important;
    /* background-color: pink; */
}

.row .rowser
 {
   
    /* max-width: 100%; */
    justify-content: center;
    /* margin-bottom: 50px; */
    /* background-color: pink; */
}

.container {

    /* display: flex; */
    max-width: 90%;
    /* background-color: blue; */
    justify-content: center;
    align-items: center;
}

@media (max-width: 1400px) {

    /* .col-lg-6 {
        flex-basis: 50%;
        max-width: 50%;
        
    } */

    .container {

        max-width: 100%;
        /* background-color: purple; */
    }

    /* .left-text,
    .right-text {

        padding-left: 0px;
        padding-top: 15px;
        padding-right: 0px;
        padding-bottom: 10px;
        
    } */

    .category-style-leftser
    ,
    .category-style-rightser
     {

        font-size: 13.5px !important;
        /* text-align: left !important; */
        /* justify-content: flex-start !important; */
        /* background-color: orange; */
    }

    .title-style-leftser
    ,
    .title-style-rightser
     {

        font-size: 40px !important;
        /* justify-content: flex-start !important; */
        /* text-align: left !important; */
        padding-left: 0px !important;
        /* background-color: pink; */
    }

    .text-style-leftser
    ,
    .text-style-rightser
     {

        font-size: 16px !important;
        /* text-align: left !important; */
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    /* .button-left,
    .button-right {

        width: 100% !important;
        height: 40px !important;
    } */
}


@media (max-width: 1100px) {

    .container {

        max-width: 100%;
    }

    .col-lg-6 {
        flex-basis: 50%;
        max-width: 50%;
        /* background-color: blue; */
    }

    .left-textser
    ,
    .right-textser
     {

        padding-left: 0px;
        padding-top: 15px;
        padding-right: 0px;
        padding-bottom: 10px;
        /* background-color: purple; */
    }

    .category-style-leftser
    ,
    .category-style-rightser
     {

        font-size: 13.5px !important;
        text-align: left !important;
        justify-content: flex-start !important;
        /* background-color: orange; */
    }

    .title-style-leftser
    ,
    .title-style-rightser
     {

        font-size: 38px !important;
        justify-content: flex-start !important;
        text-align: left !important;
        /* background-color: purple; */
        padding-left: 0px !important;
    }

    .text-style-leftser
    ,
    .text-style-rightser
     {

        font-size: 14.5px !important;
        text-align: left !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        /* background-color: yellow; */
    }

    .button-leftser
    ,
    .button-rightser
     {

        width: 100% !important;
        height: 40px !important;
    }
}

@media (max-width: 900px) {

    .container {

        max-width: 100%;
    }

    .col-lg-6 {
        flex-basis: 50%;
        max-width: 50%;
        /* background-color: blue; */
    }

    .left-textser
    ,
    .right-textser
     {

        padding-left: 0px;
        padding-top: 15px;
        padding-right: 0px;
        padding-bottom: 10px;
        /* background-color: purple; */
    }

    .category-style-leftser
    ,
    .category-style-rightser
     {

        font-size: 13.5px !important;
        text-align: left !important;
        justify-content: flex-start !important;
        /* background-color: orange; */
    }

    .title-style-leftser
    ,
    .title-style-rightser
     {

        font-size: 30px !important;
        justify-content: flex-start !important;
        text-align: left !important;
        /* background-color: purple; */
        padding-left: 0px !important;
    }

    .text-style-leftser
    ,
    .text-style-rightser
     {

        font-size: 14.5px !important;
        text-align: left !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        /* background-color: yellow; */
    }

    .button-leftser
    ,
    .button-rightser
     {

        width: 100% !important;
        height: 40px !important;
    }
}

@media (max-width: 741px) {

    .container {

        max-width: 100%;
    }

    .col-lg-6 {
        flex-basis: 100%;
        max-width: 100%;
        /* background-color: white; */
    }

    .left-textser
    ,
    .right-textser
     {

        padding-left: 0px;
        padding-top: 15px;
        padding-right: 0px;
        padding-bottom: 10px;
        /* width: 100% !important; */
        /* background-color: purple; */
    }

    .category-style-leftser
    ,
    .category-style-rightser
     {

        font-size: 13.5px !important;
        text-align: left !important;
        justify-content: flex-start !important;
        /* background-color: orange; */
    }

    .title-style-leftser
    ,
    .title-style-rightser
     {

        font-size: 30px !important;
        justify-content: flex-start !important;
        text-align: left !important;
        /* background-color: purple; */
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .text-style-leftser
    ,
    .text-style-rightser
     {

        font-size: 14.5px !important;
        text-align: left !important;
        padding-top: 6px !important;
        padding-bottom: 6px !important;
        /* background-color: yellow; */
    }

    .button-leftser
    ,
    .button-rightser
     {

        width: 100% !important;
        height: 40px !important;
    }
}
.text-outerser
{
    justify-content: center;
}

.text-containerser
 {

    width: 82%;
    justify-self:center;
    /* background-color: pink; */
}


.image-styleser {

    width: 100%;
    max-height: 100%;
    justify-content: center;
    align-self: center;
    object-fit: fill;
}

.category-style-rightser {
    font-size: 18px;
    color: grey;
    justify-self: flex-start;
    align-self: center;
}

.title-style-rightser {
    /* font-weight: bold; */
    font-size: 40px;
    /* justify-self: flex-start; */
    align-self: center;
    /* padding-right: 120px; */
}

.text-style-rightser {
    font-size: 17px;
    /* justify-self: flex-start; */
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
    color: rgb(54, 45, 45);
    /* background-color: blue; */
}

.category-style-leftser {
    display: flex;
    font-size: 18px;
    color: grey;
    justify-content: flex-end;
    align-self: center;
    /* background-color: black; */
}

.title-style-leftser {
    display: flex;
    /* font-weight: bold; */
    font-size: 30px;
    justify-content: flex-end;
    /* align-self: center; */
    text-align: right;
    padding-left: 80px;
}

.text-style-leftser {
    display: flex;
    text-align: right;
    font-size: 16px;
    justify-self: flex-end;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    color: black;
    /* background-color: pink; */
}

.button-leftser {
    display: flex;
    margin-left: auto;
    background-color: #FFEF00;
    font-size: 14px;
    width: 265px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: 0px;
    border-radius: 3px;
}

.button-rightser {
    background-color: #FFEF00;
    width: 265px;
    height: 50px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    border: 0px;
    border-radius: 3px;
}

.underline-textser{
    text-decoration: underline;
    text-decoration-color: #FFEF00;
    text-decoration-thickness: 8px;
}

.bold-style{
    color:black;
}

.showtime-container{
    display:flex;
    /* background-color: blue; */
    justify-content: center;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    width:90%;

}

.showtime-box{
    /* width:80%; */
    /* background-color: purple; */
    justify-content: left;
    text-align: left;

}

.showtime-heading{
    font-size: 38px;
    margin-bottom: 20px;
}

.showtime-text{
    font-size: 17px;
    color:rgb(82, 80, 80)
}

.underline-textserena {
    text-decoration: none;
    color: red;
    /* text-decoration-color: red; */
    /* text-decoration-thickness: 2px; */
}
