.v-scrollcs {
	height: 100vh;
	/* Set the height of the container to occupy the full viewport height */
	overflow-y: scroll;
	overflow-x: hidden;
	/* background-color: red; */
	/* Enable vertical scrolling */
}

.two-column-containercs {
	/* margin-top: 100px; */
	/* margin-bottom: 100px; */
	margin-inline: auto !important;
	width: 90%;
	margin-top: 7%;
	margin-bottom: 7%;
	display: grid;
	justify-content: center;
	grid-template-columns: 1fr 1fr;
	/* Divide the container into two columns with equal width */
	gap: 2%;
	/* background-color: #FFBF00; */
	/* Add a gap between the columns */
}

@media (max-width: 768px) {
	.two-column-containercs {
		grid-template-columns: 1fr;
		/* Change to a single column layout */
		gap: 0px;
	}
}

.left-columncs {
	/* margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px; */
	/* padding: 20px; */
	align-self: center;
	justify-self: center;
	/* background-color: blue; */
}

.right-columncs {
	/* margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px; */
	/* padding-right: 30px; */
	align-self: center;
	justify-self: center;
	/* margin: auto; */
	/* background-color: red; */
}

@media (max-width: 768px) {

	.left-columncs,
	.right-columncs {
		padding: 5px;
		/* margin-top: 30px;
        margin-left: 40px;
        margin-right: 40px; */
		/* background-color: red; */
	}
}

.l1cs {
	font-size: 55px;
	/* font-weight: bold; */
}

@media (max-width: 768px) {
	.l1cs {
		font-size: 35px;
	}
}

.l2cs {
	font-size: 20px;
	font-weight: medium;
	display: flex;
	justify-content: flex-start;
}

@media (max-width: 1200px) {
	.l1cs {
		font-size: 40px;
		/* background-color: blue; */
	}

	.l2cs {

		font-size: 16px
	}
}

@media (max-width: 768px) {

	.l2cs {
		font-size: 16px;
		justify-content: center;
	}
}

@media (max-width: 500px) {

	.two-column-containercs {

		margin-top: 10%;
	}
}

@media (max-width: 400px) {

	.l1cs {

		font-size: 25px;
	}

	.l2cs {
		font-size: 12px;
		justify-content: center;
	}

	.two-column-containercs {

		margin-top: 15%;
	}

	.left-columncs {

		justify-self: left;
	}
}

.left-textcs {
	padding-right: 20px;
	/* padding-top: 40px; */
	padding-left: 20px;
	/* padding-bottom: 40px; */
	background-color: #fff;
	/* margin-left: 00px; */
	/* align-self: center; */
	/* justify-self: center; */
	align-self: center;
	/* background-color: orange; */
	/* align-self: flex-end; */
}

.right-textcs {

	padding-left: 20px;
	/* padding-top: 40px; */
	padding-right: 20px;
	/* padding-bottom: 40px; */
	background-color: #fff;
	/* margin-right: 20px; */
	align-self: center;
}

.image-containercs {

	/* margin-top: 50px; */
	display: flex;
	max-width: 100%;
	/* height: 100%; */
	overflow: hidden;
	/* object-fit: cover; */
	/* overflow: hidden; */
	/* background-color: purple; */
	/* background-color: #FFEF00; */
}
.carousel-container0 {
	width: 100%;
   }

.zoomcs {
	transition: transform 0.3s;
}

@media (min-width: 576px) {

	.zoom:hovercs {
		transform: scale(1.2);
	}
}

.rowcs {
	margin-bottom: 100px !important;
}

.row .rowcs {

	/* max-width: 100%; */
	justify-content: center;
	/* margin-bottom: 50px; */
	/* background-color: pink; */
}

.container {

	/* display: flex; */
	max-width: 95%;
	/* background-color: blue; */
	justify-content: center;
	align-items: center;
}

@media (max-width: 1400px) {

	/* .col-lg-6 {
        flex-basis: 50%;
        max-width: 50%;
        
    } */

	.container {

		max-width: 100%;
		/* background-color: purple; */
	}

	/* .left-text,
    .right-text {

        padding-left: 0px;
        padding-top: 15px;
        padding-right: 0px;
        padding-bottom: 10px;
        
    } */

	.category-style-leftcs,
	.category-style-rightcs {

		font-size: 13.5px !important;
		/* text-align: left !important; */
		/* justify-content: flex-start !important; */
		/* background-color: orange; */
	}

	.title-style-leftcs,
	.title-style-rightcs {

		font-size: 45px !important;
		/* justify-content: flex-start !important; */
		/* text-align: left !important; */
		padding-left: 0px !important;
		/* background-color: pink; */
	}

	.text-style-leftcs,
	.text-style-rightcs {

		font-size: 15px !important;
		/* text-align: left !important; */
		padding-top: 20px !important;
		padding-bottom: 20px !important;
	}

	/* .button-left,
    .button-right {

        width: 100% !important;
        height: 40px !important;
    } */
}


@media (max-width: 1100px) {

	.container {

		max-width: 100%;
	}

	.col-lg-6 {
		flex-basis: 50%;
		max-width: 50%;
		/* background-color: blue; */
	}

	.left-textcs,
	.right-textcs {

		padding-left: 0px;
		padding-top: 15px;
		padding-right: 0px;
		padding-bottom: 0px !important;
		/* background-color: purple; */
	}

	.category-style-leftcs,
	.category-style-rightcs {

		font-size: 13.5px !important;
		/* text-align: left !important; */
		/* justify-content: flex-start !important; */
		/* background-color: orange; */
	}

	.title-style-leftcs,
	.title-style-rightcs {

		font-size: 38px !important;
		justify-content: flex-start !important;
		/* text-align: left !important; */
		/* background-color: purple; */
		padding-left: 0px !important;
	}

	.text-style-leftcs,
	.text-style-rightcs {

		font-size: 15px !important;
		/* text-align: left !important; */
		padding-top: 15px !important;
		padding-bottom: 15px !important;
		/* background-color: yellow; */
	}

	.button-leftcs,
	.button-rightcs {

		width: 100% !important;
		height: 40px !important;
	}
}

@media (max-width: 900px) {

	.container {

		max-width: 100%;
	}

	.col-lg-6 {
		flex-basis: 50%;
		max-width: 50%;
		/* background-color: blue; */
	}

	.left-textcs,
	.right-textcs {

		padding-left: 0px;
		padding-top: 15px;
		padding-right: 0px;
		padding-bottom: 10px;
		/* background-color: purple; */
	}

	.category-style-leftcs,
	.category-style-rightcs {

		font-size: 13.5px !important;
		/* text-align: left !important; */
		/* justify-content: flex-start !important; */
		/* background-color: orange; */
	}

	.title-style-leftcs,
	.title-style-rightcs {

		font-size: 30px !important;
		justify-content: flex-start !important;
		/* text-align: left !important; */
		/* background-color: purple; */
		padding-left: 0px !important;
	}

	.text-style-leftcs,
	.text-style-rightcs {

		font-size: 15px !important;
		/* text-align: left !important; */
		padding-top: 10px !important;
		padding-bottom: 10px !important;
		/* background-color: yellow; */
	}

	.button-leftcs,
	.button-rightcs {

		width: 100% !important;
		height: 40px !important;
	}
}

@media (max-width: 741px) {

	.container {

		max-width: 100%;
	}

	.col-lg-6 {
		flex-basis: 100%;
		max-width: 100%;
		/* background-color: white; */
	}

	.left-textcs,
	.right-textcs {

		padding-left: 0px;
		padding-top: 15px;
		padding-right: 0px;
		padding-bottom: 10px;
		/* width: 100% !important; */
		/* background-color: purple; */
	}

	.category-style-leftcs,
	.category-style-rightcs {

		font-size: 13.5px !important;
		text-align: left !important;
		justify-content: flex-start !important;
		/* background-color: orange; */
	}

	.title-style-leftcs,
	.title-style-rightcs {

		font-size: 30px !important;
		justify-content: flex-start !important;
		text-align: left !important;
		/* background-color: purple; */
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	.text-style-leftcs,
	.text-style-rightcs {

		font-size: 15px !important;
		text-align: left !important;
		padding-top: 6px !important;
		padding-bottom: 6px !important;
		/* background-color: yellow; */
	}

	.button-leftcs,
	.button-rightcs {

		width: 100% !important;
		height: 40px !important;
	}
}

@media(max-width:400px){

	.title-style-leftcs,
	.title-style-rightcs {

		font-size: 25px !important;
	}

	.text-style-leftcs,
	.text-style-rightcs {

		font-size: 13px !important;
	}

	.subtitle-style-leftcs,
	.subtitle-style-rightcs {

		font-size: 15px !important;
	}

	.rowcs{
		margin-top:50px !important;
		/* background-color: red; */
		margin-bottom: 0px !important;
	}

	/* .two-column-container2cs{
		margin-bottom: 10px !important;
	} */
}

.text-container {

	width: 100%;
	/* background-color: pink; */
}

.image-stylecs {

	width: 100%;
	height: 100%;
	object-fit: cover;
	justify-content: center;
	align-self: center;
}

.category-style-rightcs {
	font-size: 18px;
	color: grey;
	justify-self: flex-start;
	align-self: center;
}

.title-style-rightcs {
	/* font-weight: bold; */
	font-size: 43px;
	/* justify-self: flex-start; */
	align-self: center;
	/* padding-right: 200px; */
}

.text-style-rightcs {
	font-size: 15px;
	/* justify-self: flex-start; */
	align-self: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 0px;
	color: grey;
	/* background-color: blue; */
}

.category-style-leftcs {
	display: flex;
	font-size: 18px;
	color: grey;
	justify-content: flex-end;
	align-self: center;
	/* background-color: black; */
}

.title-style-leftcs {
	display: flex;
	/* font-weight: bold; */
	font-size: 43px;
	justify-content: flex-end;
	/* align-self: center; */
	text-align: right;
	/* padding-left: 80px; */
}

.text-style-leftcs {
	display: flex;
	text-align: right;
	font-size: 15px;
	/* justify-self: flex-end; */
	align-self: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
	color: grey;
	/* background-color: pink; */
}

.button-leftcs {
	display: flex;
	margin-left: auto;
	background-color: #FFEF00;
	font-size: 14px;
	width: 265px;
	height: 50px;
	justify-content: center;
	align-items: center;
	border: 0px;
	border-radius: 3px;
}

.button-rightcs {
	background-color: #FFEF00;
	width: 265px;
	height: 50px;
	font-size: 14px;
	justify-content: center;
	align-items: center;
	border: 0px;
	border-radius: 3px;
}

.sec-last-headcs {
	margin-top: 60px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.sec-last-textcs {
	margin: 10px 0;
	font-size: 20px;
	/* font-weight:; */
	color: grey;
	text-align: center;
}

.last-image-scrollercs {
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
}

.image-last-stylecs {
	margin-top: 30px;
	margin-left: 5px;
	display: inline-block;
	white-space: nowrap;
	max-width: 100%;
	height: auto;
}

.last-imagecs {
	max-width: 100%;
	height: auto;
}

@media (max-width: 768px) {
	.last-image-scrollercs {
		overflow-x: scroll;
	}
}

@media (max-width: 800px) {
	.rowcs {
		grid-template-columns: 1fr;
		/* Change to a single column layout */
		gap: 0px;
	}

	.col-lg-6 {
		width: 100%;
	}
}

/* -------------------------------- */

.subimage-style-leftcs {
	justify-self: flex-end;
	align-self: center;
	/* padding-top: 20px;
    padding-bottom: 20px; */
	padding-left: 0px;
	max-width: 100%;
}

.subimage-style-rightcs {
	align-self: center;
	/* padding-top: 20px;
    padding-bottom: 20px; */
	padding-right: 0px;
	max-width: 100%;
}

.underline-textcs {
	text-decoration: underline;
	text-decoration-color: #FFEF00;
	text-decoration-thickness: 8px;
}

.clickable-text {
	text-decoration: none;
	color: blue;
	cursor: pointer;
	/* Add additional styles as needed */
}

.gd-carousel-wrapper {
    /* position:relative; */
}

.gd-carousel {
    position:unset;

    .react-multiple-carousel__arrow {
        position:absolute;
		width: 15px;
		height:auto;
    }

    .react-multiple-carousel__arrow--left {
        left: calc(-6% )

    }

    .react-multiple-carousel__arrow--right {
        right: calc(-6% )
    }
}
