.allin-faq {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 1;
    margin-top: 11%;
    overflow-x: hidden;
}

.container-faq {

    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

.background-image-flow {

    /* height: '100vh', width: '100%',  overflowX: 'hidden', position: 'absolute' */
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
}

.heading {

    position: relative;
    z-index: 1;
    width: 50%;
    margin-top: 40px;
}

.head-faq {

    line-height: 1.2;
    padding-left: 30%;
    font-size: 35px;
}

.widset {
    width: 15%;
}

@media(max-width:800px) {
    .head-faq {
        font-size: 30px !important;
    }

    .widset {
        width: 20%;
    }
}

.scroll-container {
    height: 380px;
    margin-bottom: 2%;
    display: flex;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
    width: 80%;
    margin-inline: auto;
    /* background-color: bisque; */
    /* Set the desired height for the scrolling area */
    overflow-y: scroll;
    overflow-x: hidden;
    /* Enable vertical scrolling */
    scrollbar-width: thin;
    /* Set the width of the scrollbar */
    scrollbar-color: transparent transparent;
    /* Set the color of the scrollbar track and thumb */
}

/* For WebKit browsers (e.g., Chrome, Safari) */
.scroll-container::-webkit-scrollbar {
    width: 6px;
    /* Set the width of the scrollbar */
}

.scroll-container::-webkit-scrollbar-track {
    background-color: transparent;
    /* Set the background color of the scrollbar track */
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: transparent;
    /* Set the color of the scrollbar thumb */
}

.ship-container {

    position: absolute;
    /* z-index: 3; */
    top: 8%;
    left: 55%;
    width: 50%;
    height: 35%;
}

.image-ship {

    /* "position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); max-width: 100%; max-height: 100%;" */
    /* position: absolute; */
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.container .container-faq {}

@media (max-width: 1300px) {

    .scroll-container {

        width: 80%;
        height: 340px;
    }

    .ship-container {

        top: 9.5%;
    }

    .allin-faq {

        margin-top: 12%;
    }
}

@media (max-width: 1000px) {

    .scroll-container {

        width: 90%;
        height: 320px;
    }

    .head-faq {

        font-size: 30px;
    }

    .allin-faq {

        margin-top: 18%;
    }
}

@media (max-width: 700px) {

    .scroll-container {

        width: 100%;
    }

    .head-faq {

        font-size: 25px !important;
    }

    .allin-faq {

        margin-top: 25%;
    }
}

@media (max-width: 500px) {

    .scroll-container {

        width: 100%;
        height: 310px;
    }

    .ship-container {

        height: 25%;
        top: 20%;
        left: 45%;
        width: 60%;
    }

    .head-faq {

        font-size: 20px !important;
        padding-left: 20%;
    }

    .allin-faq {

        margin-top: 40%;
    }
}