.home-style {
	margin-left: 80px;
	font-size: 14px;
}

.custom-navbar-toggler {
	color: black !important;
	border-color: black !important;
	background-color: transparent !important;
}

.newcustom-navbar-toggler {
	color: black !important;
	border-color: black !important;
	background-color: transparent !important;
}

@media (max-width: 991px) {
	
	.custom-navbar-toggler {

		position: absolute;
		left: 20px;
		top: 25px;
	}

	.newcustom-navbar-toggler {

		position: absolute;
		left: 20px;
		top: 25px;
	}
}

@media (max-width: 400px) {
	.home-style {
		margin-left: 60px;
		font-size: 14px;
	}
}

.font-nav2:hover {
    text-decoration: underline;
	text-decoration-thickness: 3px;
	text-underline-offset:9px;
}

@media(max-width:500px){
	.sizeofmenu2{
		font-size: 12px !important;
	}
}

