.horizontal-scroll-container {
  width: 92%;
  justify-content: center;
  align-items: center;
  margin:auto;
  /* margin-top: 8px;
  margin-right: 25px;
  margin-left: 25px; */
}

/* @media (max-width: 768px) {
  .horizontal-scroll-container {
    margin-right: 40px; 
    margin-left: 40px;
  }
}

@media (max-width: 600px) {
  .horizontal-scroll-container {
    margin-right: 30px; 
    margin-left: 30px;
  }
}*/

/* @media (max-width: 480px) {
  .horizontal-scroll-container{
    height: 200px !important;
  }
}  */

.carousel-container {
  flex: 0;
  justify-content: center;
  align-items: center;
  transform: translateY(-10px); 
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%; 
  object-fit: contain; 
}

.carousel-image {
  flex: 0;
  justify-content: center;
  align-items: center;
  /* transform: translateY(-10px); */
  /* box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2); */
  width: 100%; /* Set the width to 100% of the parent container */
  height: 100%; /* Set the height to 100% of the parent container */
  object-fit: contain; /* Maintain aspect ratio and cover the entire space */
}

.header-style {
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto; /* Default margin for all screen sizes */
}

@media (max-width: 1050px) {
  .header-style {
    font-size: 22px;
  }
} 

@media (max-width: 700px) {
  .header-style {
    font-size: 20px;
  }
} 

@media (max-width: 550px) {
  .header-style {
    font-size: 20px;
  }
}

.image-container {
  max-width: 100%;
  overflow: hidden;
}

@media (min-width: 400px) {
 .horizontal-scroll-container{
  width:100%;
  margin-bottom: 70px;
 }
}



.zoom {
  transition: transform 0.3s;
}

@media (min-width: 576px) {
  .zoom:hover {
    transform: scale(1.1);
  }
}