.allin-idealcabin{
    display: flex;
    justify-content: center;
    margin-bottom: 7%;
    margin-top: 7%;
}
.container-idealcabin{
    /* margin-top:70px; */
    background-color: rgb(240, 239, 239);
    width:90%;
    text-align: center;
}
.heading-idealcabin{
    margin-top:30px;
    font-size: 28px;
    color:rgb(62, 58, 58);
}
.text-idealcabin{
    font-size: 12px;
    color:grey;
    margin-bottom:20px;
    /*  */
}

.image-ideal-container{
    width:100%;
    display: flex;
    /* height:400px; */
    justify-content: center;

}

.image-ideal-cabin{
    height: 100%;
    width:100%;
    object-fit: cover;
}

.lasttext-idealcabin{
    margin-top: 10px;
    text-align: left !important;
    font-size: 12px;
    color:rgb(89, 86, 86);
    margin-bottom:20px;
}
.allin-text-last-ideal1{
    display: flex;
    text-align: center;
    justify-content: center;
}

.allin-text-last-ideal{
    width:65%;

}
