.sail {
	width: 92%;
	/* Adjust the width as needed */
	margin-top: 4%;
	margin-left: auto;
	margin-right: auto;
	/* background-color: rgba(214, 205, 205, 0.197); */
	/* padding: 20px; */
	display: flex;
	justify-content: center;
	/* text-align: center; */
}

.sail-videos-container {
	display: flex;
	/* margin-inline: 10%; */
	justify-content: space-between;
	/* align-self: center;
	align-items: center; */
	width: 100%;
	margin: auto;
	/* background-color: bisque; */
}

.sail-content {
	display: flex;
	width: 100%;
	/* max-width: 1000px; */
}

iframe {

	margin: 0;
	padding: 0;
}

.sail-heading {
	display: flex;
	flex-direction: column;
	width: 100%;
	/* margin-bottom: 10px; */
}

.sail-title {
	/* font-size: 32px; */
	/* font-weight: 1000; */
}

.sail-subtitle {
	/* font-size: 18px; */
	/* margin-top: 10px; */
	/* font-weight: 300; */
}

.sail-videos {

	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.sail-video-box {
	display: flex;
	flex-grow: 1;
	width: 100%;
	height: 300px;	
	/* margin-left: 0; */
	/* margin: 0; */
	/* margin-right: 10%; */
	/* background-color: yellow; */
	/* object-fit: cover; */
	/* Decreased width to make the videos closer */
	/* height: 300px; */
	/* background-color: #cccccc; */
	/* background-color: red; */
	margin: 2% 0;
	/* background-color: black; */
	/* Decreased margin to make the videos closer */
}

.sail-button {
	display: block;
	margin-inline: auto;
	background-color: rgb(255, 221, 2);
	color: black;
	border: none;
	padding: 10px 30px;
	font-size: 14px;
}

/* ------------------- */

.info-box {

	background-color: rgba(214, 205, 205, 0.197);
}

.row-settings{
	margin: 1% auto;
}

.card-settings{
	justify-items: center;
	justify-content: center;
}

/* Media Settings */

@media (max-width: 1300px) {
	
	.sail-video-box {

		height: 300px;
	}
}

@media (max-width: 1200px) {
	
	.sail-video-box {

		height: 270px;
	}
}

@media (max-width: 1100px) {
	
	.sail-video-box {

		height: 235px;
	}
}

@media (max-width: 1000px) {
	
	.sail-video-box {

		height: 200px;
	}
} 

@media (max-width: 767px) {

	.sail-video-box {

		height: 300px;
		/* background-color: red; */
	}
}

@media (max-width: 710px) {

	.sail-video-box {

		height: 290px;
		/* background-color: yellow; */
	}
}

@media (max-width: 650px) {

	.sail-video-box {

		height: 260px;
		/* background-color: pink; */
	}
}

@media (max-width: 600px) {

	.sail-video-box {

		height: 240px;
		/* background-color: green; */
	}
}

@media (max-width: 550px) {

	.sail-video-box {

		height: 220px;
		/* background-color: blue; */
	}
}

@media (max-width: 400px) {

	.sail-video-box {

		/* height: 210px; */
		/* background-color: black; */
		height: 180px;
		padding-right: 0;
		margin-right: 0;
	}
}

/* media for font */

@media (max-width: 800px) {

	.sail-subtitle {

		font-size: 14px !important;
	}
} 

@media (max-width: 400px) {

	.sail-subtitle {

		font-size: 12px !important;
	}
} 