.containertd {

	max-width: 80% !important;
	margin: auto;
	padding-left: 2%;
	padding-bottom: 2%;
	padding-top: 2%;
	padding-right: 4%;
	margin-bottom: 7% !important;
	/* margin-bottom: 7%; */
}

@media (max-width: 400px) {

	.containertd {

		max-width: 90% !important;
	}
}

.custom-col-1-td {

	z-index: "2";
	width: 100%;
	height: 100%;
}

.custom-col-2-td {

	width: 100%;
	margin-right: 4%;
	position: "relative";
	z-index: "1";
}

.categorytd {

	/* position: relative; */
	/* right: 12%; */
	font-size: 14px;
	text-align: end;
	/* background-color: blue; */
}

.titletd {

	/* display: flex; */
	/* text-align: start; */
	font-size: 70px;
	padding-top: 2%;
	position: relative;
	/* margin: 0 -100%; */
	z-index: 3;
	/* background-color: red; */
	margin-left: -100%;
	right: 0;
	/* right: 12%; */
	/* white-space: nowrap; */
	/* background-color: 'red'; */
	text-align: right;
	text-shadow: 2px 2px 4px white;
}

.subtitletd {

	/* position: relative; */
	display: flex;
	font-size: 15px;
	padding-top: 10%;
	padding-left: 10%;
	/* right: 12%; */
	/* max-width: 28%; */
	text-align: end;
}

.image-containertd {

	width: 100%;
	height: 600px;
}

@media (min-width: 741px) {

	.testtd {

		flex-direction: row;
	}
}

@media (max-width: 740px) {

	.testtd {

		flex-direction: column-reverse;
	}

	.titletd {

		margin-left: 0;
		right: auto;
		text-align: left;
	}

	.categorytd {

		text-align: start;
	}

	.subtitletd {

		padding-left: 0;
		text-align: left;
		max-width: 100%;
	}

	.testtd .img-decortd,
	.testtd .text-decortd {
		width: 100% !important;
	}
}

/* Media */

@media (max-width: 740px) {
	
	.titletd {

		font-size: 40px;
	}

	.subtitletd {

		font-size: 13px;
		padding-top: 5%;
	}

	.categorytd {

		font-size: 12px;
	}

	.image-containertd {

		height: 300px;
	}

	.testtd .img-decortd,
	.testtd .text-decortd {
		width: 100% !important;
	}
}

@media (max-width: 1040px) and (min-width: 741px) {
	
	.titletd {

		font-size: 50px;
	}

	.subtitletd {

		font-size: 13px;
		padding-top: 7%;
	}

	.categorytd {

		font-size: 12px;
	}

	.image-containertd {

		height: 400px;
	}

	.testtd .img-decortd {

		width: 65% !important;
	}

	.testtd .text-decortd {

		width: 35% !important;
	}
}

@media (min-width: 1040px) and (max-width: 1400px) {
	
	.titletd {

		font-size: 60px;
	}

	.subtitletd {

		font-size: 14px;
		padding-top: 9%;
	}

	.categorytd {

		font-size: 13px;
	}

	.image-containertd {

		height: 500px;
	}

	.testtd .img-decortd {

		width: 70% !important;
	}

	.testtd .text-decortd {

		width: 30% !important;
	}
}