/* ToscanaFlagScroll.css */

.horizontal-scroll-container-flag {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .image-container-flag {
    width: 90%;
    height: 380px; /* Adjust the desired height of the container */
    overflow: hidden;
    /* display: flex; */
    position: relative;
    justify-content: center;
    align-items: center;
    /* background-color: purple; */
  }
  
  .image-container-flag .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    width: 100%;
    /* background-color: blue; */
    height: 100%;
  }
  
  .image-container-flag .image-wrapper img {
    justify-self: center;
    margin:auto;
    align-items: center;
    width: 100%;
    /* background-color: brown; */
    height: auto;
    object-fit: contain;
  }
  
  .zoom {
    transition: transform 0.3s;
  }
  

  @media (min-width: 576px) {
    .zoom:hover {
      transform: scale(1.1);
    }
  }
  
.pos-flag{

}

  .item-flag {

    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.item .item-flag{

}

.image-carousel-flag {

    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: grab;
}

.image-carousel .image-carousel-flag {

}

.image-container-flag {
    /* position: relative; */
    padding: 20px;
    margin:auto;
}

.image-container .image-container-flag {

}

.carousel-dots {

  bottom: 20px;
}