.containertc {

	max-width: 80% !important;
	margin: auto;
	padding-left: 2%;
	padding-bottom: 2%;
	padding-top: 2%;
	padding-right: 4%;
	margin-bottom: 7% !important;
}

@media (max-width: 400px) {

	.containertc {

		max-width: 90% !important;
	}
}


.custom-col-1-tc {
	
	position: "relative";
	z-index: "2";
}

.custom-col-2-tc {

	width: 100%;
	/* margin: 3%; */
	margin-right: 4%;
	position: "relative";
	z-index: "1";
}

.categorytc {

	font-size: 14px;
}

.titletc {

	font-size: 70px;
	padding-top: 2%;
	position: relative;
	z-index: 2;
	text-shadow: 2px 2px 4px white;
}

.subtitletc {

	font-size: 15px;
	padding-top: 10%;
	padding-right: 10%;
}

.image-containertc {

	width: 100%;
	height: 600px;
}

/* Media */

@media (max-width: 740px) {
	
	.titletc {

		font-size: 40px;
	}

	.subtitletc {

		font-size: 13px;
		padding-top: 5%;
	}

	.categorytc {

		font-size: 12px;
	}

	.image-containertc {

		height: 300px;
	}

	.testtc .img-decortc,
	.testtc .text-decortc {
		width: 100% !important;
	}
}

@media (max-width: 1040px) and (min-width: 741px) {
	
	.titletc {

		font-size: 50px;
	}

	.subtitletc {

		font-size: 13px;
		padding-top: 7%;
	}

	.categorytc {

		font-size: 12px;
	}

	.image-containertc {

		height: 400px;
	}

	.testtc .img-decortc {

		width: 65% !important;
	}

	.testtc .text-decortc {

		width: 35% !important;
	}
}

@media (min-width: 1040px) and (max-width: 1400px) {
	
	.titletc {

		font-size: 60px;
	}

	.subtitletc {

		font-size: 14px;
		padding-top: 9%;
	}

	.categorytc {

		font-size: 13px;
	}

	.image-containertc {

		height: 500px;
	}

	.testtc .img-decortc {

		width: 70% !important;
	}

	.testtc .text-decortc {

		width: 30% !important;
	}
}